<% include partials/header%>



<style>

    img {
         float: left;
    }

    #mainBodyContent {
        width: 75%;

        background-color: rgb(245, 245, 245);
        border-radius: 10px;
        padding: 10px;

    }

    .dark #mainBodyContent {
        background-color: #444444;
        border: 1px solid black;
    }


    #myAvatar {
        /*
        position: relative;
        z-index: -1;
        top:0%;
        left: 0%;

        opacity: 0.5;
        filter: alpha(opacity=50); */   /* For IE8 and earlier */
    }


    /*div::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url("/avatars/pronub-res.png");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.10;
        top: 50%;
        left: 50%;
        bottom: 0;
        right: 0;

        transform: translate(-50%, -50%);
    }*/

    p {
        font-size: 18px;
    }

</style>












<div class="container" id="mainBodyContent">
    <h1>About this site</h1>

    <br>

    <p>
        This site is a private server for ProAvalon. The source code for it can be seen at <a href="https://github.com/wgdevs/ProAvalon">https://github.com/wgdevs/ProAvalon</a>.
    </p>

    <p>
        This site is forked from <a href="https://github.com/vck3000/ProAvalon">https://github.com/vck3000/ProAvalon</a>.
    </p>

    <p>
      This site preserves the security features of the original repo, as described <a href="/security">here</a>.
    </p>



</div>

<% include partials/footer%>
